<!doctype html>
<head>
  <title>My password generator</title>
  <link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
  <div id="container">
    <div class="pagetitle">
      <h1>Generate</h1>
    </div>
    <div id="main">
      <form method="post" action="{{ url_for('gen') }}">
        <label for="length">Length:</label>
        8:<input type="radio" name="length" value="8">
        12:<input type="radio" name="length" value="12">
        16:<input type="radio" name="length" value="16" checked>
        <button type="submit">Submit</button>
      </form>
    </div>
    {% if passwords %}
    <div id="pass">
      <strong>{{passwords[0]}}</strong>
    </div>
    {% endif %}
  </div>
</body>
